
  
  
  .OurCourse-bg{
  
  
    header{
     
        margin: 20px 50px;
  
  
        h1{
  
          color: tomato; 
          font-size: 32px;
          font-weight: 600;
          span{
            color: #000000;
          }
        }
        p{
            font-size: 16px;
            color: #212529;
        }
  
    }
  
  
  
    main{
        margin: 40px 20px;
        border-bottom: 1px solid gray;
       
        width: 95%;
        padding: 15px;
       
        ul{
            display: flex;
            justify-content: space-evenly;
            
  
            li{
                list-style-type: none;
                font-size: 16px; font-weight: 600;
                cursor: pointer;
  
                &:active{
                    color: #0099FF;
                }
  
                &:first-child{
                    color: #0099FF;
                    font-size: 16px; font-weight: 700;
                }
  
            }
        }
    }
  
  
  section{
    
    height: max-content;
    width: auto;
   overflow: auto;
   margin-top: -15px;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap:30px;
  justify-content: center;
  
 
  
    .Our_Courses{
      background-color: #fefefe;
      border-radius: 10px;
      height: 65dvh;
      width: 22vw;
      margin-left:0px;
    
      
     
      transition: all 0.3s ease;
      border: 1px solid gray;
      
      /* border-color: rgb(204, 204, 204); */
      /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
      border-color: transparent; */
  
      &:hover{
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175),
        0 1rem 3rem rgba(0, 0, 0, .175),
        0 1rem 3rem rgba(0, 0, 0, .175);
        border-color: transparent;
        transform: translateY(-3px);
      }
     
  
    
      img{
        height: 30vh;
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: fill;
        aspect-ratio: 1;
        margin-top:0px;
       
      
      }
      h3{
        padding-left: 10px;
        text-align: center;
      }
  
      h1{
        font-size: 18px;
        font-weight: 700;
        margin: 10px;
        padding-left: 15px;
        
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
  
      h2{
        font-weight: 300;
        font-size: 20px;
        padding-left: 5px;
        margin: 10px;
        span{
          color: #DDBB21;
          padding-left: 12px;
        }
      }
  
      .card-main-2{
        display: flex;
        align-items: center;
        padding-left: 15px;
       margin: 10px;
       p{
        padding-left: 15px;
       }
      }
  
  
  
      .card-main-3{
        display: flex;
        align-items: center;
        margin: 10px;
        padding-left: 15px;
        p{
          padding-left: 10px;
         }
      }
  
  
      .button-main{
        display: flex;
        justify-content: space-evenly;
        margin-top:0px;
        cursor: pointer;
       
  
        .enroll{
          background-color: #0066CC;
          color: white;
          padding: 2px;
          border: none;
          width: 7vw; height: 5vh;
          border-radius: 5px;
          font-size: 15px;
          cursor: pointer;
        }
  
  
        .share{
          background-color: #FFFFFF;
          color: #333;
          border-left: 1px solid #e0e0e0;
          padding: 2px;
          border: none;
          width: 7.5vw; height: 5vh;
          border-radius: 5px;
          font-size: 15px;
          border: 1px solid gray;
          padding-left: 20px;
          cursor: pointer;
  
          span{
            
            .shr{
              margin-left: -20px;
              font-size: 1rem;
            }
          }
  
          
        }
  
        
  
      }
  
      
  
    }
      
      
  }
  
  
  }
  
  
  
  
  
  @media(max-width:768px) {
  
  
  
  
    .OurCourse-bg{
  
  
      header{
       
          margin: 20px 50px;
    
    
          h1{
    
            color: tomato; 
            font-size:20px;
            font-weight: 600;
            text-align: center;
            span{
              color: #000000;
            }
          }
          p{
              font-size: 16px;
              color: #212529;
          }
    
      }
    
    
    
      main{
        margin: 40px 0;
        border-bottom: 1px solid gray;
        width: 95%;
        padding: 15px;
          ul{
            display: flex;
            justify-content: space-evenly;
            padding: 0; /* Remove default padding */
    
              li{
                list-style-type: none;
                font-size: 10px;
                font-weight: 600;
                cursor: pointer;
                line-height:1.5;
    
                  &:active{
                      color: #0099FF;
                  }
    
                  &:first-child{
                      color: #0099FF;
                      font-size: 10px; font-weight: 700;
                  }
    
              }
          }
      }
    
    
    section{
      
      height: max-content;
      width:350px;
    
     margin-top: -15px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    margin:10px;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap:30px;
    justify-content: center;
    align-items: center;
   
    
      .Our_Courses{
        background-color: #fefefe;
        border-radius: 10px;
        height: 75dvh;
        width:320px;
        margin:20;
      
        
       
        transition: all 0.3s ease;
        border: 1px solid gray;
        
        /* border-color: rgb(204, 204, 204); */
        /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        border-color: transparent; */
    
        &:hover{
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175),
          0 1rem 3rem rgba(0, 0, 0, .175),
          0 1rem 3rem rgba(0, 0, 0, .175);
          border-color: transparent;
          transform: translateY(-3px);
        }
       
    
      
        img{
          height: 30vh;
          width:320px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          object-fit: fill;
          aspect-ratio: 1;
          margin-top:0px;
         
        
        }
        h3{
          padding-left: 10px;
          text-align: center;
        }
    
        h1{
          font-size: 18px;
          font-weight: 700;
          margin: 10px;
          padding-left: 15px;
          
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    
        h2{
          font-weight: 300;
          font-size: 20px;
          padding-left: 5px;
          margin: 10px;
          span{
            color: #DDBB21;
            padding-left: 12px;
          }
        }
    
        .card-main-2{
          display: flex;
          align-items: center;
          padding-left: 15px;
          
         margin: 10px;
         p{
          padding-left: 15px;
         }
        }
    
    
    
        .card-main-3{
          display: flex;
          align-items: center;
          margin: 10px;
          padding-left: 15px;
          p{
            padding-left: 10px;
           }
        }
    
    
        .button-main{
          display: flex;
          justify-content: space-evenly;
          margin-top:0px;
          cursor: pointer;
         
    
          .enroll{
            background-color: #0066CC;
            color: white;
            padding: 2px;
            border: none;
            width:100px; height: 5vh;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
          }
    
    
          .share{
            background-color: #FFFFFF;
            color: #333;
            border-left: 1px solid #e0e0e0;
            padding: 2px;
            border: none;
            width: 100px; height: 5vh;
            border-radius: 5px;
            font-size: 15px;
            border: 1px solid gray;
            padding-left: 20px;
            cursor: pointer;
    
            span{
              
              .shr{
                margin-left: -20px;
                font-size: 1rem;
              }
            }
    
            
          }
    
          
    
        }
    
        
    
      }
        
        
    }
    
    
    }
    
    
    
  
  
  }
  
  
  
  